<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213485911674-47477evk03lmtpn8ptgar88lrcen70gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213485911674-47477evk03lmtpn8ptgar88lrcen70gj</string>
	<key>API_KEY</key>
	<string>AIzaSyAPTxyraVONxhfFrNCfllfh17n5eK08q64</string>
	<key>GCM_SENDER_ID</key>
	<string>213485911674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.thetutorium.learnlab</string>
	<key>PROJECT_ID</key>
	<string>learnlab-ad923</string>
	<key>STORAGE_BUCKET</key>
	<string>learnlab-ad923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213485911674:ios:b041280d72c0e6a1ca45c3</string>
</dict>
</plist>